bot/scenario-B-blueprint-revoke-2step.json
{"flow": [{"id": 1, "mapper": {}, "module": "gateway:CustomWebHook", "version": 1, "metadata": {"restore": {"parameters": {"hook": {"data": {"editable": "true"}, "label": "Archi tickets - Telegram callback"}}}, "designer": {"x": -92, "y": 146, "name": "Webhook callback Telegram"}, "interface": [{"name": "update_id", "type": "number"}, {"name": "callback_query", "spec": [{"name": "id", "type": "text"}, {"name": "from", "spec": [{"name": "id", "type": "number"}, {"name": "is_bot", "type": "boolean"}, {"name": "first_name", "type": "text"}, {"name": "username", "type": "text"}, {"name": "language_code", "type": "text"}], "type": "collection"}, {"name": "message", "spec": [{"name": "message_id", "type": "number"}, {"name": "from", "spec": [{"name": "id", "type": "number"}, {"name": "is_bot", "type": "boolean"}, {"name": "first_name", "type": "text"}, {"name": "username", "type": "text"}], "type": "collection"}, {"name": "chat", "spec": [{"name": "id", "type": "number"}, {"name": "title", "type": "text"}, {"name": "type", "type": "text"}], "type": "collection"}, {"name": "date", "type": "number"}, {"name": "caption", "type": "text"}], "type": "collection"}, {"name": "chat_instance", "type": "text"}, {"name": "data", "type": "text"}], "type": "collection"}], "parameters": [{"name": "hook", "type": "hook:gateway-webhook", "label": "Webhook", "required": true}, {"name": "maxResults", "type": "number", "label": "Maximum number of results"}]}, "parameters": {"hook": 2276988, "maxResults": 1}}, {"id": 2, "mapper": null, "module": "builtin:BasicRouter", "routes": [{"flow": [{"id": 110, "filter": {"name": "Aprobar", "conditions": [[{"a": "{{1.callback_query.data}}", "b": "approve_", "o": "text:startwith"}]]}, "mapper": {"ca": "", "qs": [], "url": "https://www.archibrazo.org/wp-json/wc/v3/orders/{{replace(1.callback_query.data; \"approve_\"; \"\")}}", "data": "{\"status\": \"completed\", \"meta_data\": [{\"key\": \"receipt_upload_status\", \"value\": \"approved\"}]}", "gzip": true, "method": "put", "headers": [{"name": "Content-Type", "value": "application/json"}, {"name": "Authorization", "value": "Basic Y2tfODZlYTFlODU2NTM0MWQyMDc0Y2IyZGUxOTFlODJlNWNjMTQ0ZWQwODpjc185YzNmNTY0OWY5Nzg0ODFkYzkyYjVmZTA1OWRhYTgxYzk4YTg4YzNj"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 300, "y": 0, "name": "WC PUT order = completed"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 111, "mapper": {"ca": "", "qs": [], "url": "https://www.archibrazo.org/wp-json/wc/v3/orders/{{replace(1.callback_query.data; \"approve_\"; \"\")}}/notes", "data": "{\"note\": \"Aprobada via bot Telegram por @{{1.callback_query.from.username}}\", \"customer_note\": false}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}, {"name": "Authorization", "value": "Basic Y2tfODZlYTFlODU2NTM0MWQyMDc0Y2IyZGUxOTFlODJlNWNjMTQ0ZWQwODpjc185YzNmNTY0OWY5Nzg0ODFkYzkyYjVmZTA1OWRhYTgxYzk4YTg4YzNj"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 600, "y": 0, "name": "WC POST nota privada"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 114, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/editMessageReplyMarkup", "data": "{\"chat_id\": \"{{1.callback_query.message.chat.id}}\", \"message_id\": \"{{1.callback_query.message.message_id}}\", \"reply_markup\": {\"inline_keyboard\": []}}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 900, "y": 0, "name": "TG editMessageReplyMarkup (quitar botones)"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 112, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/answerCallbackQuery", "data": "{\"callback_query_id\": \"{{1.callback_query.id}}\", \"text\": \"Aprobada\"}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 1200, "y": 0, "name": "TG answerCallbackQuery"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 113, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/sendMessage", "data": "{\"chat_id\": -5056494083, \"text\": \"✅ Aprobada orden #{{replace(1.callback_query.data; \"approve_\"; \"\")}} por @{{1.callback_query.from.username}}\", \"reply_to_message_id\": \"{{1.callback_query.message.message_id}}\"}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 1500, "y": 0, "name": "TG sendMessage confirmacion"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}]}, {"flow": [{"id": 120, "filter": {"name": "Rechazar", "conditions": [[{"a": "{{1.callback_query.data}}", "b": "reject_", "o": "text:startwith"}]]}, "mapper": {"ca": "", "qs": [], "url": "https://www.archibrazo.org/wp-json/wc/v3/orders/{{replace(1.callback_query.data; \"reject_\"; \"\")}}", "data": "{\"status\": \"receipt-rejected\", \"meta_data\": [{\"key\": \"receipt_upload_status\", \"value\": \"rejected\"}]}", "gzip": true, "method": "put", "headers": [{"name": "Content-Type", "value": "application/json"}, {"name": "Authorization", "value": "Basic Y2tfODZlYTFlODU2NTM0MWQyMDc0Y2IyZGUxOTFlODJlNWNjMTQ0ZWQwODpjc185YzNmNTY0OWY5Nzg0ODFkYzkyYjVmZTA1OWRhYTgxYzk4YTg4YzNj"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 300, "y": 300, "name": "WC PUT order = receipt-rejected"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 121, "mapper": {"ca": "", "qs": [], "url": "https://www.archibrazo.org/wp-json/wc/v3/orders/{{replace(1.callback_query.data; \"reject_\"; \"\")}}/notes", "data": "{\"note\": \"Rechazada via bot Telegram por @{{1.callback_query.from.username}}\", \"customer_note\": false}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}, {"name": "Authorization", "value": "Basic Y2tfODZlYTFlODU2NTM0MWQyMDc0Y2IyZGUxOTFlODJlNWNjMTQ0ZWQwODpjc185YzNmNTY0OWY5Nzg0ODFkYzkyYjVmZTA1OWRhYTgxYzk4YTg4YzNj"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 600, "y": 300, "name": "WC POST nota privada"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 124, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/editMessageReplyMarkup", "data": "{\"chat_id\": \"{{1.callback_query.message.chat.id}}\", \"message_id\": \"{{1.callback_query.message.message_id}}\", \"reply_markup\": {\"inline_keyboard\": []}}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 900, "y": 300, "name": "TG editMessageReplyMarkup (quitar botones)"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 122, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/answerCallbackQuery", "data": "{\"callback_query_id\": \"{{1.callback_query.id}}\", \"text\": \"Rechazada\"}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 1200, "y": 300, "name": "TG answerCallbackQuery"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 123, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/sendMessage", "data": "{\"chat_id\": -5056494083, \"text\": \"❌ Rechazada orden #{{replace(1.callback_query.data; \"reject_\"; \"\")}} por @{{1.callback_query.from.username}}\", \"reply_to_message_id\": \"{{1.callback_query.message.message_id}}\"}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 1500, "y": 300, "name": "TG sendMessage confirmacion"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}]}, {"flow": [{"id": 140, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 300, "y": 600, "name": "TG pedir confirmacion revoke"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/editMessageReplyMarkup", "data": "{\"chat_id\": \"{{1.callback_query.message.chat.id}}\", \"message_id\": \"{{1.callback_query.message.message_id}}\", \"reply_markup\": {\"inline_keyboard\": [[{\"text\": \"✅ Sí, revocar\", \"callback_data\": \"revyes_{{replace(1.callback_query.data; \\\"revoke_\\\"; \\\"\\\")}}\"}, {\"text\": \"✖️ No\", \"callback_data\": \"revno_{{replace(1.callback_query.data; \\\"revoke_\\\"; \\\"\\\")}}\"}]]}}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "filter": {"name": "revoke_ (pide confirmacion)", "conditions": [[{"a": "{{1.callback_query.data}}", "b": "revoke_", "o": "text:startwith"}]]}}, {"id": 141, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 450, "y": 600, "name": "TG answer (confirmar)"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/answerCallbackQuery", "data": "{\"callback_query_id\": \"{{1.callback_query.id}}\", \"text\": \"Confirmá si querés revocar\"}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}}]}, {"flow": [{"id": 130, "filter": {"name": "revyes_ (revoca de verdad)", "conditions": [[{"a": "{{1.callback_query.data}}", "b": "revyes_", "o": "text:startwith"}]]}, "mapper": {"ca": "", "qs": [], "url": "https://www.archibrazo.org/wp-json/wc/v3/orders/{{replace(1.callback_query.data; \"revyes_\"; \"\")}}", "data": "{\"status\": \"cancelled\", \"meta_data\": [{\"key\": \"receipt_upload_status\", \"value\": \"rejected\"}, {\"key\": \"_bot_silent_close\", \"value\": \"1\"}, {\"key\": \"_bot_revoked_by\", \"value\": \"@{{1.callback_query.from.username}}\"}]}", "gzip": true, "method": "put", "headers": [{"name": "Content-Type", "value": "application/json"}, {"name": "Authorization", "value": "Basic Y2tfODZlYTFlODU2NTM0MWQyMDc0Y2IyZGUxOTFlODJlNWNjMTQ0ZWQwODpjc185YzNmNTY0OWY5Nzg0ODFkYzkyYjVmZTA1OWRhYTgxYzk4YTg4YzNj"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 300, "y": 600, "name": "WC PUT order = cancelled (revocada)"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 131, "mapper": {"ca": "", "qs": [], "url": "https://www.archibrazo.org/wp-json/wc/v3/orders/{{replace(1.callback_query.data; \"revyes_\"; \"\")}}/notes", "data": "{\"note\": \"↩️ Revocada via bot Telegram por @{{1.callback_query.from.username}} tras auto-aprobacion Gemini. Mail al cliente silenciado.\", \"customer_note\": false}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}, {"name": "Authorization", "value": "Basic Y2tfODZlYTFlODU2NTM0MWQyMDc0Y2IyZGUxOTFlODJlNWNjMTQ0ZWQwODpjc185YzNmNTY0OWY5Nzg0ODFkYzkyYjVmZTA1OWRhYTgxYzk4YTg4YzNj"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 600, "y": 600, "name": "WC POST nota privada (revoke)"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 134, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/editMessageReplyMarkup", "data": "{\"chat_id\": \"{{1.callback_query.message.chat.id}}\", \"message_id\": \"{{1.callback_query.message.message_id}}\", \"reply_markup\": {\"inline_keyboard\": []}}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 900, "y": 600, "name": "TG quitar botón revoke"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 132, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/answerCallbackQuery", "data": "{\"callback_query_id\": \"{{1.callback_query.id}}\", \"text\": \"Revocada\"}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 1200, "y": 600, "name": "TG answerCallbackQuery"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 133, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/sendMessage", "data": "{\"chat_id\": -5056494083, \"text\": \"↩️ *Revocada* orden #{{replace(1.callback_query.data; \\\"revyes_\\\"; \\\"\\\")}} por @{{1.callback_query.from.username}} (tras auto-aprobacion Gemini)\", \"parse_mode\": \"Markdown\", \"reply_to_message_id\": \"{{1.callback_query.message.message_id}}\"}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 1500, "y": 600, "name": "TG sendMessage confirmación revoke"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}]}, {"flow": [{"id": 150, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 300, "y": 760, "name": "TG restaurar boton revocar"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/editMessageReplyMarkup", "data": "{\"chat_id\": \"{{1.callback_query.message.chat.id}}\", \"message_id\": \"{{1.callback_query.message.message_id}}\", \"reply_markup\": {\"inline_keyboard\": [[{\"text\": \"↩️ Revocar (si Gemini se equivocó)\", \"callback_data\": \"revoke_{{replace(1.callback_query.data; \\\"revno_\\\"; \\\"\\\")}}\"}]]}}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "filter": {"name": "revno_ (cancela revoke)", "conditions": [[{"a": "{{1.callback_query.data}}", "b": "revno_", "o": "text:startwith"}]]}}, {"id": 151, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 450, "y": 760, "name": "TG answer (cancelado)"}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/answerCallbackQuery", "data": "{\"callback_query_id\": \"{{1.callback_query.id}}\", \"text\": \"Cancelado, no se revocó\"}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}}]}], "version": 1, "metadata": {"designer": {"x": 150, "y": 150, "name": "Router approve/reject"}}}], "name": "Archi tickets - procesar callback", "metadata": {"instant": true, "version": 1, "designer": {"orphans": []}, "scenario": {"dlq": false, "slots": null, "dataloss": false, "maxErrors": 3, "autoCommit": true, "roundtrips": 1, "sequential": false, "confidential": false, "freshVariables": false, "autoCommitTriggerLast": true}}}