bot/scenario-A-blueprint-with-gemini.json
{"flow": [{"id": 1, "mapper": {}, "module": "gateway:CustomWebHook", "version": 1, "metadata": {"restore": {"parameters": {"hook": {"data": {"editable": "true"}, "label": "Archi tickets - receipt pending"}}}, "designer": {"x": -620, "y": -207, "name": "Webhook orden pendiente"}, "interface": [{"name": "order_id", "type": "number"}, {"name": "customer", "type": "text"}, {"name": "email", "type": "text"}, {"name": "phone", "type": "text"}, {"name": "total", "type": "text"}, {"name": "currency", "type": "text"}, {"name": "items", "type": "text"}, {"name": "receipt_attachment_id", "type": "number"}, {"name": "receipt_url", "type": "text"}, {"name": "receipt_uploaded_at", "type": "text"}, {"name": "admin_url", "type": "text"}, {"name": "fired_at", "type": "text"}, {"name": "caption_full", "type": "text"}], "parameters": [{"name": "hook", "type": "hook:gateway-webhook", "label": "Webhook", "required": true}, {"name": "maxResults", "type": "number", "label": "Maximum number of results"}]}, "parameters": {"hook": 2333810, "maxResults": 1}}, {"id": 2, "mapper": {"name": "photo_url", "scope": "roundtrip", "value": "{{replace(replace(1.receipt_url; \".pdf\"; \"-pdf.jpg\"); \"--pdf.jpg\"; \"-pdf.jpg\")}}"}, "module": "util:SetVariable2", "version": 1, "metadata": {"designer": {"x": -263, "y": -201, "name": "calc photo_url"}}, "parameters": {}}, {"id": 3, "mapper": {"ca": "", "qs": [], "url": "{{2.photo_url}}", "gzip": true, "method": "get", "headers": [], "timeout": "30", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "", "contentType": "", "serializeUrl": false, "shareCookies": false, "parseResponse": false, "followRedirect": true, "useQuerystring": false, "evaluateAllErrors": true, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "onerror": [{"id": 3500, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/sendMessage", "data": "{\"chat_id\": -5056494083, \"parse_mode\": \"Markdown\", \"text\": \"{{1.caption_full}}\\n\\n⚠️ _No se pudo descargar el comprobante automáticamente (probable thumbnail PDF aún no generado por WP). Revisar a mano en:_\\n{{1.admin_url}}\", \"reply_markup\": {\"inline_keyboard\": [[{\"text\": \"✅ Aprobar\", \"callback_data\": \"approve_{{1.order_id}}\"}, {\"text\": \"❌ Rechazar\", \"callback_data\": \"reject_{{1.order_id}}\"}]]}}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "30", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "evaluateAllErrors": true, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 77, "y": 129, "name": "Fallback: download fail → grupo manual"}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}], "version": 3, "metadata": {"designer": {"x": 75, "y": -202, "name": "Download imagen comprobante"}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 4, "mapper": {"ca": "", "qs": [], "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=<GEMINI_API_KEY>", "data": "{\"contents\":[{\"parts\":[{\"text\":\"Sos un asistente que evalua comprobantes de transferencia bancaria argentina para el centro cultural El Archibrazo. Devolve EXCLUSIVAMENTE un JSON valido (sin markdown) con esta estructura exacta:\\n\\n{\\n  \\\"monto_detectado\\\": <number, monto en ARS sin puntos ni signos, 0 si NO se ve>,\\n  \\\"destinatario_ok\\\": <boolean, true si el destinatario coincide con Archicoop Ltda / Archibrazo / alias ARCHICOOP / CUIT 33-71137015-9 / CBU 1910014855001403000732 / cuenta Credicoop 191-014-030007/3 / mail boleteria@archibrazo.org>,\\n  \\\"formato_ok\\\": <boolean, true si parece comprobante real de banco o billetera>,\\n  \\\"confidence\\\": <number 0 a 100>,\\n  \\\"motivo\\\": <string COMPACTO formato telegrafico con guiones como separador, sin oraciones. Ejemplo: Comp. Mercado Pago - monto correcto - Dest.: Archicoop LTDA - CUIT 33-71137015-9 - fecha 19/05/2026. Si algo falla indicarlo igual de compacto, ej: monto NO coincide. Sin comillas dobles>,\\n  \\\"numero_operacion\\\": <string, numero de operacion o ID de transaccion. Si NO se ve, string vacio>,\\n  \\\"fecha_comprobante\\\": <string YYYY-MM-DD, fecha de la transferencia. Si no se ve, string vacio>,\\n  \\\"auto_aprobable\\\": <string, exactamente \\\"SI\\\" o \\\"NO\\\">\\n}\\n\\nMonto esperado: ARS {{1.total}}. Orden #{{1.order_id}}. Cliente: {{1.customer}}.\\n\\nREGLA AUTO_APROBABLE: poné \\\"SI\\\" SOLO si se cumplen TODAS estas condiciones:\\n1. monto_detectado es mayor a 0 y esta entre el monto esperado y el monto esperado +10 por ciento.\\n2. destinatario_ok es true.\\n3. formato_ok es true.\\n4. numero_operacion NO esta vacio (lo pudiste leer del comprobante).\\nSi CUALQUIERA de esas 4 falla, auto_aprobable = \\\"NO\\\".\\nSi no podes leer el monto (monto_detectado = 0), auto_aprobable = \\\"NO\\\" y confidence menor a 50.\\nSi no podes leer el numero de operacion, auto_aprobable = \\\"NO\\\". NO inventes datos.\\nNO uses comillas dobles en el campo motivo.\"},{\"inline_data\":{\"mime_type\":\"image/jpeg\",\"data\":\"{{base64(3.data)}}\"}}],\"role\":\"user\"}],\"generationConfig\":{\"temperature\":0.1,\"responseMimeType\":\"application/json\",\"maxOutputTokens\":800,\"thinkingConfig\":{\"thinkingBudget\":0}}}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "40", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "evaluateAllErrors": true, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "onerror": [{"id": 4500, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/sendDocument", "data": "{\"chat_id\": -5056494083, \"document\": \"{{2.photo_url}}\", \"parse_mode\": \"Markdown\", \"caption\": \"{{1.caption_full}}\\n\\n⚠️ _Gemini no pudo analizar este comprobante automaticamente, revisar a mano._\", \"reply_markup\": {\"inline_keyboard\": [[{\"text\": \"✅ Aprobar\", \"callback_data\": \"approve_{{1.order_id}}\"}, {\"text\": \"❌ Rechazar\", \"callback_data\": \"reject_{{1.order_id}}\"}]]}}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "30", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "evaluateAllErrors": true, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 431, "y": 110, "name": "Fallback: Gemini error → grupo manual"}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}], "version": 3, "metadata": {"designer": {"x": 426, "y": -208, "name": "Gemini analyze receipt"}}, "parameters": {"retries": 2, "handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 5, "mapper": {"json": "{{4.data.candidates[1].content.parts[1].text}}"}, "module": "json:ParseJSON", "version": 1, "metadata": {"designer": {"x": 695, "y": -206, "name": "Parse Gemini JSON"}}, "parameters": {"type": 372984}}, {"id": 6, "mapper": {"ca": "", "qs": [{"name": "num", "value": "{{5.numero_operacion}}"}, {"name": "order_id", "value": "{{1.order_id}}"}, {"name": "key", "value": "archibot-2026-x9k2"}], "url": "https://www.archibrazo.org/wp-json/archi/v1/comprobante", "gzip": true, "method": "get", "headers": [], "timeout": "30", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "", "contentType": "", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "evaluateAllErrors": true, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 930, "y": -211, "name": "Check duplicado"}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 7, "mapper": {"ca": "", "qs": [], "url": "https://www.archibrazo.org/wp-json/archi/v1/comprobante", "data": "{\"num\":\"{{5.numero_operacion}}\",\"order_id\":\"{{1.order_id}}\",\"key\":\"archibot-2026-x9k2\"}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "30", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "evaluateAllErrors": true, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 1207, "y": -222, "name": "Registrar comprobante"}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 100, "mapper": null, "module": "builtin:BasicRouter", "routes": [{"flow": [{"id": 300, "filter": {"name": "DUPLICADO (comprobante ya usado)", "conditions": [[{"a": "{{6.data.dup}}", "b": "SI", "o": "text:equal"}]]}, "mapper": {"ca": "", "qs": [], "url": "https://www.archibrazo.org/wp-json/wc/v3/orders/{{1.order_id}}", "data": "{\"status\":\"receipt-rejected\",\"meta_data\":[{\"key\":\"receipt_upload_status\",\"value\":\"rejected\"}]}", "gzip": true, "method": "put", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "30", "useMtls": false, "authPass": "<WC_cs_KEY>", "authUser": "<WC_ck_KEY>", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "evaluateAllErrors": true, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 1751, "y": -641, "name": "WC PUT receipt-rejected"}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 301, "mapper": {"ca": "", "qs": [], "url": "https://www.archibrazo.org/wp-json/wc/v3/orders/{{1.order_id}}/notes", "data": "{\"note\":\"\\ud83e\\udd16 Comprobante duplicado: la operacion {{5.numero_operacion}} ya figura usada en la orden #{{6.data.order_id}}. Orden rechazada automaticamente por el bot.\",\"customer_note\":false}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "30", "useMtls": false, "authPass": "<WC_cs_KEY>", "authUser": "<WC_ck_KEY>", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "evaluateAllErrors": true, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 2068, "y": -645, "name": "WC POST nota duplicado"}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 302, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/sendMessage", "data": "{\"chat_id\": -5056494083, \"parse_mode\": \"Markdown\", \"text\": \"\\u26a0\\ufe0f *Comprobante duplicado* #{{1.order_id}}\\n\\ud83d\\udc64 {{1.customer}} - ${{1.total}}\\n\\ud83c\\udfad {{1.items}}\\n\\nEl comprobante (op. {{5.numero_operacion}}) ya se uso en la orden #{{6.data.order_id}}. Orden rechazada automaticamente.\"}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "30", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "evaluateAllErrors": true, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 2359, "y": -641, "name": "Telegram aviso duplicado"}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}]}, {"flow": [{"id": 200, "filter": {"name": "AUTO_APPROVE (no duplicado + Gemini SI)", "conditions": [[{"a": "{{6.data.dup}}", "b": "SI", "o": "text:notequal"}, {"a": "{{5.auto_aprobable}}", "b": "SI", "o": "text:equal"}]]}, "mapper": {"ca": "", "qs": [], "url": "https://www.archibrazo.org/wp-json/wc/v3/orders/{{1.order_id}}", "data": "{\"status\":\"completed\",\"meta_data\":[{\"key\":\"receipt_upload_status\",\"value\":\"approved\"}]}", "gzip": true, "method": "put", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "30", "useMtls": false, "authPass": "<WC_cs_KEY>", "authUser": "<WC_ck_KEY>", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "evaluateAllErrors": true, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 1814, "y": -292, "name": "WC PUT order completed"}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 201, "mapper": {"ca": "", "qs": [], "url": "https://www.archibrazo.org/wp-json/wc/v3/orders/{{1.order_id}}/notes", "data": "{\"note\":\"🤖 Auto-aprobada por bot (Gemini {{5.confidence}}%): {{5.motivo}}\",\"customer_note\":false}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "30", "useMtls": false, "authPass": "<WC_cs_KEY>", "authUser": "<WC_ck_KEY>", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "evaluateAllErrors": true, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 2092, "y": -288, "name": "WC POST nota privada"}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 202, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/sendPhoto", "data": "{\"chat_id\": -5056494083, \"photo\": \"{{2.photo_url}}\", \"parse_mode\": \"Markdown\", \"caption\": \"🤖 *Auto-aprobada* #{{1.order_id}} · {{1.customer}}\\n🎭 {{1.event_name}} · {{1.event_date}}\\n🎟️ {{1.qty}} entrada(s) · esperado ${{1.total_int}} / detectó ${{5.monto_detectado}} ✅\\n🤖 _IA {{5.confidence}}%: {{5.motivo}}_\\n🔗 Revisar orden: [acá]({{1.admin_url}})\", \"reply_markup\": {\"inline_keyboard\": [[{\"text\": \"↩️ Revocar (si Gemini se equivocó)\", \"callback_data\": \"revoke_{{1.order_id}}\"}]]}}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "30", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "evaluateAllErrors": true, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 2396, "y": -282, "name": "sendPhoto auto-aprobada (sin botones)"}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}]}, {"flow": [{"id": 101, "filter": {"name": "HUMAN PDF", "conditions": [[{"a": "{{6.data.dup}}", "b": "SI", "o": "text:notequal"}, {"a": "{{5.auto_aprobable}}", "b": "SI", "o": "text:notequal"}, {"a": "{{1.receipt_url}}", "b": ".pdf", "o": "text:endwith"}]]}, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/sendPhoto", "data": "{\"chat_id\": -5056494083, \"photo\": \"{{2.photo_url}}\", \"caption\": \"{{1.caption_full}}\\n\\n📎 PDF: {{1.receipt_url}}\\n\\n🤖 _IA {{5.confidence}}%: {{5.motivo}}_\", \"reply_markup\": {\"inline_keyboard\": [[{\"text\": \"✅ Aprobar\", \"callback_data\": \"approve_{{1.order_id}}\"}, {\"text\": \"❌ Rechazar\", \"callback_data\": \"reject_{{1.order_id}}\"}]]}}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "evaluateAllErrors": true, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 1890, "y": 56, "name": "sendPhoto thumb PDF + Gemini + botones"}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}]}, {"flow": [{"id": 102, "filter": {"name": "HUMAN Imagen", "conditions": [[{"a": "{{6.data.dup}}", "b": "SI", "o": "text:notequal"}, {"a": "{{5.auto_aprobable}}", "b": "SI", "o": "text:notequal"}, {"a": "{{1.receipt_url}}", "b": ".pdf", "o": "text:notendwith"}]]}, "mapper": {"ca": "", "qs": [], "url": "https://api.telegram.org/bot8744494244:AAGxFd31SB4uOQVmN_A5PzW3vjYZESS6S3s/sendPhoto", "data": "{\"chat_id\": -5056494083, \"photo\": \"{{2.photo_url}}\", \"caption\": \"{{1.caption_full}}\\n\\n🤖 _IA {{5.confidence}}%: {{5.motivo}}_\", \"reply_markup\": {\"inline_keyboard\": [[{\"text\": \"✅ Aprobar\", \"callback_data\": \"approve_{{1.order_id}}\"}, {\"text\": \"❌ Rechazar\", \"callback_data\": \"reject_{{1.order_id}}\"}]]}}", "gzip": true, "method": "post", "headers": [{"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "raw", "contentType": "application/json", "bodyEncoding": "raw", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "evaluateAllErrors": true, "useNumberAsString": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 1848, "y": 390, "name": "sendPhoto imagen + Gemini + botones"}}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}]}], "version": 1, "metadata": {"designer": {"x": 1483, "y": -220, "name": "Router 4 ramas (DUP/AUTO/PDF/IMG)"}}}], "name": "Archi tickets - notificar pendiente (Gemini)", "metadata": {"instant": true, "version": 1, "designer": {"orphans": []}, "scenario": {"dlq": true, "slots": null, "dataloss": true, "maxErrors": 3, "autoCommit": true, "roundtrips": 1, "sequential": false, "confidential": false, "freshVariables": false, "autoCommitTriggerLast": true}}}